ipywidgets==8.0.6
jupyterlab==3.6.3
keras==2.12.0
matplotlib==3.7.1
numpy==1.23.5
pandas==1.5.3
Pillow==9.5.0
plotly==5.14.1
pmdarima==2.0.3
python-dotenv==1.0.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
SQLAlchemy==2.0.13
statsmodels==0.14.0
tensorflow-hub==0.13.0
tensorflow-macos==2.12.0
tensorflow-metal==0.8.0
neuralprophet==0.6.0
openrouteservice==2.3.3
holidays==0.21.13
tqdm==4.65.0
requests==2.31.0

